<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>Indexservlet</servlet-name>
    <servlet-class>cn.v2beach.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Indexservlet</servlet-name>
    <url-pattern>/Hometown</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/V2beach1024/Views-JavaServerPages/Index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>V2beachFilter</filter-name>
    <filter-class>cn.v2beach.filter.V2beachFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>V2beachFilter</filter-name>
    <url-pattern>*.v</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    <init-param>
      <param-name>confPath</param-name>
      <param-value>/WEB-INF/urlrewrite.xml</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>cn.v2beach.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>cn.v2beach.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/RegisterServlet.register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StuMsg</servlet-name>
    <servlet-class>cn.v2beach.dev.StuMsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuMsg</servlet-name>
    <url-pattern>/StuMsgServlet.v</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserMsg</servlet-name>
    <servlet-class>cn.v2beach.servlet.UserMsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserMsg</servlet-name>
    <url-pattern>/UserMsgServlet.v</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowMsg</servlet-name>
    <servlet-class>cn.v2beach.dev.ShowMsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMsg</servlet-name>
    <url-pattern>/ShowMsgServlet.v</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MusicPlayer</servlet-name>
    <servlet-class>cn.v2beach.servlet.MusicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MusicPlayer</servlet-name>
    <url-pattern>/Music.v</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MusicUncompletedOrCompleted</servlet-name>
    <servlet-class>cn.v2beach.servlet.MusicListTypeToggleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MusicUncompletedOrCompleted</servlet-name>
    <url-pattern>/MusicedOrnot.v</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MovieJumpToIndex</servlet-name>
    <servlet-class>cn.v2beach.servlet.MovieJumpToIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieJumpToIndex</servlet-name>
    <url-pattern>/MovieIndex.v</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MovieJumpToALL</servlet-name>
    <servlet-class>cn.v2beach.servlet.MovieJumpToAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieJumpToALL</servlet-name>
    <url-pattern>/MovieAll.v</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MovieGeneratePagesServlet</servlet-name>
    <servlet-class>cn.v2beach.servlet.MovieGeneratePagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieGeneratePagesServlet</servlet-name>
    <url-pattern>/MovieGeneratePages.v</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InfoYourselfServlet</servlet-name>
    <servlet-class>cn.v2beach.servlet.Movie_InfoYourselfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoYourselfServlet</servlet-name>
    <url-pattern>/InfoYourself.v</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Movie_AddMovieServlet</servlet-name>
    <servlet-class>cn.v2beach.servlet.Movie_AddMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Movie_AddMovieServlet</servlet-name>
    <url-pattern>/addmovie.v</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Movie_DeleteMovieServlet</servlet-name>
    <servlet-class>cn.v2beach.servlet.Movie_DeleteMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Movie_DeleteMovieServlet</servlet-name>
    <url-pattern>/deletemovie.v</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectAllUsersServlet</servlet-name>
    <servlet-class>cn.v2beach.servlet.Movie_SelectAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllUsersServlet</servlet-name>
    <url-pattern>/selectall.v</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Movie_AddReviewUsersServlet</servlet-name>
    <servlet-class>cn.v2beach.servlet.Movie_AddReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Movie_AddReviewUsersServlet</servlet-name>
    <url-pattern>/addreview.v</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Movie_SendMessageUsersServlet</servlet-name>
    <servlet-class>cn.v2beach.servlet.Movie_SendMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Movie_SendMessageUsersServlet</servlet-name>
    <url-pattern>/sendmessage.v</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Movie_BecomeVIPServlet</servlet-name>
    <servlet-class>cn.v2beach.servlet.Movie_BecomeVIP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Movie_BecomeVIPServlet</servlet-name>
    <url-pattern>/MovieBecomeVIP.v</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showreviews</servlet-name>
    <servlet-class>cn.v2beach.servlet.Movie_ShowReviewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showreviews</servlet-name>
    <url-pattern>/showreviews.v</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>cn.v2beach.listener.StatisticsListener</listener-class>
  </listener>
</web-app>